<h2>Erreur 404</h2>
<p>La page que vous cherchez n'existe pas !</p>


<div class="container my-4">

  <p class="font-weight-bold">An example of bootstrap select dropdown with search. Easy to implement and customize. Examples of basic and advanced usage.</p>

  <p>Detailed documentation and more examples you can find in our <a href="https://mdbootstrap.com/docs/jquery/forms/select/"
                                                                             target="_blank">Bootstrap Select Docs</a> </p>

  <hr>

  <p class="font-weight-bold">Basic example</p>

  <select class="mdb-select md-form" searchable="Search here..">
    <option value="" disabled selected>Choose your country</option>
    <option value="1">USA</option>
    <option value="2">Germany</option>
    <option value="3">France</option>
    <option value="3">Poland</option>
    <option value="3">Japan</option>
  </select>

</div>
