<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="bibliotheques">Home</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav  ">
      <li class="nav-item active" routerLinkActive="active"><a class="nav-link" routerLink="bibliotheques">Bibliothèques</a></li>
      <div *ngIf="this.showManagerGeneralBoard">
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="ManagerGeneralBoard" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Espace MG
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </div>
      <div *ngIf="this.showManagerBoard">
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="ManagerBoard" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Espace Manager
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </div>

      <div *ngIf="this.showBibliothecaireBoard">
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="BibliothecaireBoard" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Espace Bibliothecaire
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </div>
    </ul>
  </div>

  <ul class="nav navbar-nav ml-auto " *ngIf="isLoggedIn">
    <li class="nav-item dropdown" >
      <a class="nav-link dropdown-toggle" href="#" id="Profil" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{username}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item ">
      <a href class="nav-link flex-row-reverse" (click)="logout()">LogOut</a>
    </li>
    <li class="nav-item " *ngIf="showLecteurBoard" >
       <img src="/assets/img/cart-icon.png" alt="image" data-toggle="modal" data-target="#exampleModalLong" style="width: 40px ;cursor: pointer">
    </li>
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Panier</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table>
            <tr  *ngFor="let exemplaire of cartService.getCart() ">
              <ng-container *ngIf="exemplaire.edition">
                <td>{{ exemplaire.edition.oeuvre.titre }}</td>
              </ng-container>
              <td><img src="assets/img/remove-24px.svg" style="width: 20px; margin-left:150px; cursor: pointer;" (click)="onClick(exemplaire.idExemplaire)"></td>
            </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal" (click)="onReserver()">Reserver</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </ul>

  <ul class="nav navbar-nav ml-auto " *ngIf="!isLoggedIn">
    <li class="nav-item active" routerLinkActive="active"><a class="nav-link" routerLink="login">LogIn</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>


